.right {
  float: right;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  margin:0;
  padding: 0;
}

.navbar {
  width:100%;
  background-color: rgb(46, 18, 150);
  display: block;
  justify-content: center;
  margin-bottom: 15px;
  border-radius: 0 !important; /* Reset do bootstrap navbar */
  line-height: 60px;
}

.navbar .links {
  font-size: 16px;
  color: white;
}
.links a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  
  padding: 22px;;
}

.links a:hover{
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: blueviolet;
}

.box {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 15px;
  position: relative;
}

.box .glyphicon {
  font-size: 16px;
  position: absolute;
  cursor: pointer;
}
.box .glyphicon-remove {
  right: 10px;
  top: 10px;
}
.box .glyphicon-remove:hover {
  color: red;
}
.box .glyphicon-pencil {
  right: 30px;
  top: 10px;
}
.box .glyphicon-pencil:hover {
  color: blue;
}


.space {
  margin-bottom: 30px;
}

.spaceLabel {
  margin-bottom: 25px;
}